<ion-header>
  <ion-toolbar>
    <ion-title>
      Parrilla Express
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button routerDirection="forward" color="tertiary" routerLink="" >Navegar a Lugar</ion-button> -->
  <div padding>
    <ion-button expand="block" routerLink="/screenone" routerDirection="forward" color="primary">Pantalla Horizontal
    </ion-button>
    <ion-button expand="block" routerLink="/screentwo" routerDirection="forward" color="primary">Pantalla Vertical
    </ion-button>
  </div>
</ion-content>